<!DOCTYPE html>
<html dir="ltr" lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/front/common :: headSrc('보도자료')">
    
</head>
<body class="stretched" data-menu-breakpoint="1200">

	<div id="wrapper">
		 <header id="header" class="transparent-header dark" th:replace="fragments/front/common :: headMenu('white')">
         
        </header>
		<section class="page-title dark bg-transparent page-title-parallax parallax border-0">
			<img src="/front/images/new/e1.jpg" class="parallax-bg">
			<div class="container">
				<div class="page-title-row pt-5 pb-3">

					<div class="page-title-content">
						<span class="color fw-medium my-0">2023 Korea Philateric
							Exhibition</span>
						<h1>
							<div class="fw-bold display-5 nocolor">대한민국 우표전시회 보도자료</div>
						</h1>

						<div class="mt-4 pt-3">
							<a href="/information/gallery"
								class="button rounded-2 button-dark button-border border-2 me-0 mb-0">사진영상<i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a>
							<a href="/information/notice"
								class="button rounded-2 button-dark button-border border-2 me-0 mb-0">공지사항 <i class="bi-arrow-up-right ms-1 me-0 small"></i>
							</a>
						</div>
					</div>

					<nav aria-label="breadcrumb" class="d-none d-lg-block">
						<ol class="breadcrumb"
							style="-bs-breadcrumb-divider: '&amp;#62;';">
							<li class="breadcrumb-item"><a href="/index"><i
									class="uil uil-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#">이벤트</a></li>
							<li class="breadcrumb-item active" aria-current="page">이벤트 안내</li>
						</ol>
					</nav>

				</div>
			</div>
		</section>

		<section id="content">
			
			<div class="content-wrap pt-0 mt-10">
				<div class="container">
					<div class="row g-4 mb-5">

						<article class="entry event col-12 mb-4">
							<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-sm h-shadow all-ts h-translate-y-sm">
								<div class="col-md-4 mb-md-0">
									<a href="#" class="entry-image mb-0 h-100">
										<img src="/front/images/new/bg.jpg" alt="EVENT" class="rounded-2">
										<div class="bg-overlay">
											<div class="bg-overlay-content justify-content-start align-items-start">
												<div class="badge bg-light text-dark rounded-pill">언론보도</div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-8 p-4">
									<div class="entry-meta no-separator mb-1 mt-0">
										<ul>
											<li><a href="#" class="text-uppercase fw-medium">Fri, Jan 23 @ 5:30PM</a></li>
										</ul>
									</div>

									<div class="entry-title nott">
										<h3><a href="#">언론보도 제목</a></h3>
									</div>
									<div class="entry-content my-3">
										<p class="mb-0">보도된 언론 자료의 내용 일부가 표시되며, 초과 부분은 ...로 표시됩니다.</p>
									</div>

									<div class="entry-meta no-separator">
										<ul>
											<li><a href="#" class="fw-normal"><i class="uil uil-map-marker"></i>자세히보기</a></li>
										</ul>
									</div>
								</div>
							</div>
						</article>
						<article class="entry event col-12 mb-4">
							<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-sm h-shadow all-ts h-translate-y-sm">
								<div class="col-md-4 mb-md-0">
									<a href="#" class="entry-image mb-0 h-100">
										<img src="/front/images/new/bg.jpg" alt="EVENT" class="rounded-2">
										<div class="bg-overlay">
											<div class="bg-overlay-content justify-content-start align-items-start">
												<div class="badge bg-light text-dark rounded-pill">언론보도</div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-8 p-4">
									<div class="entry-meta no-separator mb-1 mt-0">
										<ul>
											<li><a href="#" class="text-uppercase fw-medium">Fri, Jan 23 @ 5:30PM</a></li>
										</ul>
									</div>

									<div class="entry-title nott">
										<h3><a href="#">언론보도 제목</a></h3>
									</div>
									<div class="entry-content my-3">
										<p class="mb-0">보도된 언론 자료의 내용 일부가 표시되며, 초과 부분은 ...로 표시됩니다.</p>
									</div>

									<div class="entry-meta no-separator">
										<ul>
											<li><a href="#" class="fw-normal"><i class="uil uil-map-marker"></i>자세히보기</a></li>
										</ul>
									</div>
								</div>
							</div>
						</article>
						<article class="entry event col-12 mb-4">
							<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-sm h-shadow all-ts h-translate-y-sm">
								<div class="col-md-4 mb-md-0">
									<a href="#" class="entry-image mb-0 h-100">
										<img src="/front/images/new/bg.jpg" alt="EVENT" class="rounded-2">
										<div class="bg-overlay">
											<div class="bg-overlay-content justify-content-start align-items-start">
												<div class="badge bg-light text-dark rounded-pill">언론보도</div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-8 p-4">
									<div class="entry-meta no-separator mb-1 mt-0">
										<ul>
											<li><a href="#" class="text-uppercase fw-medium">Fri, Jan 23 @ 5:30PM</a></li>
										</ul>
									</div>

									<div class="entry-title nott">
										<h3><a href="#">언론보도 제목</a></h3>
									</div>
									<div class="entry-content my-3">
										<p class="mb-0">보도된 언론 자료의 내용 일부가 표시되며, 초과 부분은 ...로 표시됩니다.</p>
									</div>

									<div class="entry-meta no-separator">
										<ul>
											<li><a href="#" class="fw-normal"><i class="uil uil-map-marker"></i>자세히보기</a></li>
										</ul>
									</div>
								</div>
							</div>
						</article>
						<article class="entry event col-12 mb-4">
							<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-sm h-shadow all-ts h-translate-y-sm">
								<div class="col-md-4 mb-md-0">
									<a href="#" class="entry-image mb-0 h-100">
										<img src="/front/images/new/bg.jpg" alt="EVENT" class="rounded-2">
										<div class="bg-overlay">
											<div class="bg-overlay-content justify-content-start align-items-start">
												<div class="badge bg-light text-dark rounded-pill">언론보도</div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-8 p-4">
									<div class="entry-meta no-separator mb-1 mt-0">
										<ul>
											<li><a href="#" class="text-uppercase fw-medium">Fri, Jan 23 @ 5:30PM</a></li>
										</ul>
									</div>

									<div class="entry-title nott">
										<h3><a href="#">언론보도 제목</a></h3>
									</div>
									<div class="entry-content my-3">
										<p class="mb-0">보도된 언론 자료의 내용 일부가 표시되며, 초과 부분은 ...로 표시됩니다.</p>
									</div>

									<div class="entry-meta no-separator">
										<ul>
											<li><a href="#" class="fw-normal"><i class="uil uil-map-marker"></i>자세히보기</a></li>
										</ul>
									</div>
								</div>
							</div>
						</article>
						<article class="entry event col-12 mb-4">
							<div class="grid-inner bg-white row g-0 p-3 border-0 rounded-5 shadow-sm h-shadow all-ts h-translate-y-sm">
								<div class="col-md-4 mb-md-0">
									<a href="#" class="entry-image mb-0 h-100">
										<img src="/front/images/new/bg.jpg" alt="EVENT" class="rounded-2">
										<div class="bg-overlay">
											<div class="bg-overlay-content justify-content-start align-items-start">
												<div class="badge bg-light text-dark rounded-pill">언론보도</div>
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-8 p-4">
									<div class="entry-meta no-separator mb-1 mt-0">
										<ul>
											<li><a href="#" class="text-uppercase fw-medium">Fri, Jan 23 @ 5:30PM</a></li>
										</ul>
									</div>

									<div class="entry-title nott">
										<h3><a href="#">언론보도 제목</a></h3>
									</div>
									<div class="entry-content my-3">
										<p class="mb-0">보도된 언론 자료의 내용 일부가 표시되며, 초과 부분은 ...로 표시됩니다.</p>
									</div>

									<div class="entry-meta no-separator">
										<ul>
											<li><a href="#" class="fw-normal"><i class="uil uil-map-marker"></i>자세히보기</a></li>
										</ul>
									</div>
								</div>
							</div>
						</article>
					</div>
					<div class="pagination-wrap">
						<ul class="pagination pagination-circle pagination-3d pagination-lg">
						  <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span></a></li>
						  <li class="page-item active"><a class="page-link" href="#">1</a></li>
						  <li class="page-item"><a class="page-link" href="#">2</a></li>
						  <li class="page-item"><a class="page-link" href="#">3</a></li>
						  <li class="page-item"><a class="page-link" href="#">4</a></li>
						  <li class="page-item"><a class="page-link" href="#">5</a></li>
						  <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<th:block th:replace="fragments/front/common :: footerSrc"></th:block>

	</div>

	<th:block th:replace="fragments/front/common :: scriptSrc"></th:block>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="/front/js/components/datepicker.js"></script>

</body>
</html>